* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family:sans-serif;
}

.search-container {
    margin: 20px;
    text-align: center;
}

.search-container form {
    display: inline-block;
}

.search-container input[type="text"] {
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.search-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.regis {
    text-align: center;
    margin: 20px;
}

.register {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.regis button a {
    text-decoration: none;
    color: #fff;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 2px #ccc;
}

.table th, .table td {
    padding: 8px 12px;
    text-align: left;
}

.table th {
    background-color: #007bff;
    color: #fff;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table a {
    text-decoration: none;
    color: #007bff;
}

.pagination {
    text-align: center;
    margin: 20px;
}

.pagination a {
    text-decoration: none;
    color: #007bff;
    margin: 0 5px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

